html, body {

	height: 85%;
	margin: 0;
	background: linear-gradient( #f2f2f6, #d3d3e7 );

}

h2{

	text-align: center;

}

#negrito {

	font-weight: bold;
	
}

textarea{

	width: 550px;
	height: 200px;
}

.container {

	height: 40px;
	display: flex;
	align-items: center;
    justify-content: center;

}


 
